body {
    font-family: verdana;
    display:flex;
}

 ul li {
     list-style-type: none;
    
}

h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 24px;
}

.container {
    display:flex;
    height: 300px;
    width:300px;
    /*background-color:pink;*/
    justify-content: center;
  
}

.relatives {
    height: 50px;
}
